.App {
  
}

.App-header {
  background-color: white;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 30px;
}

.navigator {
  display: flex;
  flex-direction: row;
}
.navigator > div {
  overflow: hidden;
  display: inline-block;
  margin-left: 80px;
  font-weight: 700;
  font-size: 25px;
  font-family: 'GmarketSansTTF';
}

.underline {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  height: 5px;
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
}