body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'NanumSquare';
  src: url("./font/NanumSquare_acB.ttf");
}
@font-face {
  font-family: 'GmarketSansTTF';
  src: url("./font/GmarketSansTTFLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'GmarketSansTTF';
  src: url("./font/GmarketSansTTFMedium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'GmarketSansTTF';
  src: url("./font/GmarketSansTTFBold.ttf");
  font-weight: 700;
}